[2016-09-20 19:11] zoufishanmehdi opened #1 "Adding video chat UI and related methods (Swift)"
Hi Rob, I stumbled upon your project in swift via opentok ios sdk samples. I'm integrating opentok video chat in my swift project. I was able to successfully do so using this [sample project](https://github.com/thepatrick/Opentok-HelloWorld-Swift). I wanted to add video chat UI and related methods in swift i.e. volume/ mute and flip camera buttons.  While looking thru ios sdk samples in objective-

[2016-09-21 09:46] robjperez commented on #1
Hi Zoufishan,

These samples are still Work In Progress.
We will be adding more samples in the near future and we will cover that use case

[2017-01-17 19:01] chrisscholly opened #7 "Example 2 (and thus 5) do not work properly"
I'm testing on an iPhone 7.
Any idea pls?

![img_0041](https://cloud.githubusercontent.com/assets/26509/22035265/9e294ade-dcef-11e6-92e1-22a8bd2deeb8.PNG)

[2017-01-17 19:15] chrisscholly commented on #7
Note: Objective-C version works as well. The issue only occurs on Swift version.

[2017-01-17 22:45] bdolman commented on #7
Yeah, I get the same thing

[2017-02-04 22:04] Morniak opened #8 "Error reseting AVAudioSession"
Hi,
The DefaultAudioDevice provided by the Custom Audio Driver project print "Error reseting AVAudioSession" and crash at line 311 after a call to `session.disconnect(nil)`.

[2017-02-06 01:53] Lucashuang0802 commented on #1
@robjperez @zoufishanmehdi perhaps `OTVideoView` in this(https://github.com/opentok/accelerator-core-ios) could help you out. You can use the default UI or customize your own.

[2017-02-06 01:54] Lucashuang0802 opened #9 "Remove the resize method"
https://github.com/opentok/opentok-ios-sdk-samples/pull/143 Just want to raise attention here. @robjperez @jeffswartz

[2017-02-09 17:03] klemensz opened #10 "Switching camera in 2.Custom-Video-Driver"
Hi,
it seems that the ExampleVideoCapture.swift always uses the front camera - hard coded. What would we need to change so that setting publisher.cameraPosition would have an effect like with the framework classes?
Thanks!

[2017-02-14 02:03] #8 closed

[2017-02-15 20:28] tankadesign opened #13 "3. Custom Audio Driver doesn't work"
Tested this with subscribeToSelf = true and false, and neither works. It would seem the subscriber never joins the session, presumably because the audioDevice never completes getting setup. When switching back to the Objective-C version of this it works no problem.

[2017-02-20 06:27] niaorenhuaduo opened #14 "2.Custom-Video-Driver not support swift 3.0 ?"

[2017-03-23 08:43] nileshk-iprogrammer opened #15 "Screen Sharing - ScreenCapture.swift"
Below error getting when add the ScreenCapturer.swift.
Error : - Objective-C method 'release' provided by method 'release()' does not match the requirement's selector ('releaseCapture')

[2017-03-23 13:32] #15 closed

[2017-04-04 03:43] dbarta commented on #7
I get the same images in swift. iPhone 5s, Xcode 8.3

[2017-04-04 03:53] dbarta opened #18 "MobileGestaltSupport.m does not have sandbox access (and other messages)"
I'm using iPhone 5S, iOS 10.3, Xcode 8.3, OpenTok SDK 2.10.1: in all samples (1 - 6), the following messages appear on the console:

MobileGestaltSupport.m:153: pid 488 (1.Hello-World) does not have sandbox access for frZQaeyWLUvLjeuEK43hmg and IS NOT appropriately entitled
2017-04-04 06:46:48.528310+0300 1.Hello-World[488:50983] libMobileGestalt MobileGestalt.c:550: no access to InverseDeviceID (

[2017-04-11 06:07] sagardesai16 commented on #7
Even I get the same issue. Any solution so far?

[2017-04-12 09:34] robjperez commented on #14
It builds up to swift 3.1

[2017-04-12 09:34] #14 closed

[2017-04-12 09:38] robjperez commented on #9
@Lucashuang0802 can you test this on the swift samples and open a PR it still applies?

[2017-04-12 16:00] robjperez commented on #7
Thanks for reporting it.
It will now be fixed with the last commit.

[2017-04-12 16:00] #7 closed

[2017-04-12 16:00] #1 closed

[2017-04-12 21:04] Lucashuang0802 commented on #18
@dbarta Looks like this is not an OpenTok issue. We're closing this out. But feel free to continue the conversation on this thread!

[2017-04-12 21:04] #18 closed

[2017-04-13 07:12] dbarta commented on #18
Thanks, good to know. These messages do not interfere with functionality as far as I can tell.

[2017-04-13 18:04] Lucashuang0802 commented on #13
Hi @tankadesign, thanks for submitting the issue. In order to let the subscriber join, you should first receive 'streamCreated'. Did that delegate method get called or any errors?

[2017-04-13 18:55] tankadesign commented on #13
It gets called on one of the devices - I'm not using standalone mode. After about a minute the stream gets destroyed automatically. The devices I have tested on are: iPhone 6 with iOS 9.3.2, iPhone 7 with 10.3.1 and iPhone 7+ with 10.3.1. On the 7+ I get the Subscriber joining when not in standalone. But not on the iPhone 6 or 7. It doesn't matter which phone I start up first, it's always the same

[2017-04-14 18:18] Lucashuang0802 commented on #13
@tankadesign what do you mean by standalone? Under non-standalone mode, you said the stream gets destroyed automatically. Did you receive any errors that caused this? More information would be helpful 😃

[2017-04-14 19:13] tankadesign commented on #13
In my tests:
User A = iPhone 6 or 7
User B = iPhone 7+

* User A joins session & User B joins session ok
* Both users publish to the session
* User B receives the User A's video stream without audio (OTSessionDelegate streamCreated call fires)
* User B never receives OTPublisherDelegate streamCreated call
* User A never receives User B's video; no OTSubscriber or OTSession delegate calls fire afte

[2017-04-17 16:20] tankadesign commented on #13
The problem I described above comes from trying to use DefaultAudioDevice in example #2, by the way. So I'm guessing the DefaultAudioDevice isn't really built out enough to work with a custom capturer?

When I run just example #3, I get both streams connecting ok, but the audio never starts so there's never any sound. After about 60 seconds again (same as above) one of the streams gets destroyed a

[2017-04-21 13:21] robjperez commented on #13
With this [PR](https://github.com/opentok/opentok-ios-sdk-samples-swift/pull/25) it should be fixed.

[2017-04-21 13:21] #13 closed

[2017-04-24 10:01] robjperez commented on #10
In current master branch you can toggle the camera position.

See this [PR](https://github.com/opentok/opentok-ios-sdk-samples-swift/pull/28) for more details

[2017-04-24 10:01] #10 closed

[2017-05-03 17:53] farellano commented on #18
@dbarta I'm unsure if this problem doesn't affect to functionality. because Im getting the error when I try to subscribe to a stream and I can't get any call to `- (void)subscriberDidConnectToStream:(OTSubscriber*)subscriber`

Can you just confirm if everything still working fine for you so I can look for the problem in another place?

[2017-05-18 15:14] tankadesign opened #33 "Crash using BlueTooth headset"
Crashes at line 276: estimatedCaptureDelay
Tested on: iPhone 6/iOS 9.3.5 and iPhone 7+/iOS 10.3.1
Bluetooth devices tested: Jaybird X and Big Jambox

Also, audio quality on bluetooth is horrible ... sounds like it's 8 bit audio. The same quality issue is true in the Objective C example.

[2017-08-17 18:13] aprecode opened #41 "Can not get data from the 'subscriber'"
By using Basic video chat example, I tried to create a session between the web browser and the app. Data from the publisher(mobile) can be seen on the browser but subscriber data does not appear on the app.

In order not to use the mobile as subscriber also, I changed 'subscribeToSelf' value as 'false'. In this case, it does not reaches to the 'subscriberDidConnect' function.

I'll be glad if you

[2017-08-31 14:36] justindunn opened #42 "Multiparty UICollectionView Sample App not responding to orientation while session is active"
In Multiparty UICollectionView, we've noticed that if you go from portrait to landscape or landscape to portrait during a session the child views do not respond accurately, it remains cut off at the bottom. The screen flips but the views do not, is there a way to fix this? We also noticed that sometimes the landscape views crop off the top and bottom of the feeds.

[2017-09-11 20:52] #9 closed

[2017-10-10 20:03] zoufishanmehdi opened #43 "Swift 4 support"
Hi, are there any plans on supporting Swift 4 in the near future? Thank you.

[2017-10-11 11:08] robjperez commented on #43
Hi,

We are working in a Swift4 port of the samples here:

https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/swift4-support

Those changes will be eventually merged in the master branch.

[2017-10-11 11:08] #43 closed

[2017-10-22 01:01] wtfiwtz opened #44 "Simple-Multiparty sample fails to load on XCode 9.0.1"
Got this stack trace when running the sample application:

[code]

Changing the module from `__Simple__Multiparty` to `Simple__Multiparty` in the View Controller of the main storyboard seemed to fix the issue.

![image](https://user-images.githubusercontent.com/1445450/31857114-b2cfb1b0-b720-11e7-8482-2c19c3d386c8.png)

I'm not very savvy with XCode but hopefully this helps someone else!
Cheers, N

[2017-10-23 14:29] robjperez commented on #44
Thanks for the issue, it should be fixed in master branch now

[2017-10-23 14:29] #44 closed

[2017-10-24 20:44] ppierson opened #46 "Seeing "55: EXCEPTION (-1)" logged repeatedly when using Custom Audio Driver example."
I've imported DefaultAudioDevice.swift into my app and am calling:
[code]

When I connect to a session I repeatedly see an exception in the logs:
[code]

[2017-10-24 21:11] ppierson commented on #46
Also I am getting issues where participants in the session are unable to hear any audio from other participants. This only happens when using the custom audio driver in the example.

[2017-10-26 13:36] tkrajacic opened #48 "ExampleVideoCapture tilts in the wrong direction for front camera"
In the custom video driver example, if you slightly rotate the camera, the video is tilted in the wrong direction when using the front camera. Switching to the back camera makes the preview layer rotate correctly.

The tilt I am talking about is what the layer does to mitigate device tilt until the UI finally rotates completely.

[2017-10-26 16:19] tkrajacic commented on #48
Actually I think the entire image is just mirrored and that's where the problem is rooted.

[2017-11-17 09:25] boardmain opened #49 "help with swift 4"
hi after ugrading to swift 4 i see this error in
VideoCaputre.swift

Expression pattern of type 'AVCaptureSession.Preset' cannot match values of type 'String'

in extension String {
    func dimensionForCapturePreset() -> (width: UInt32, height: UInt32) {

can you help?

[2017-11-17 09:33] boardmain commented on #49
in the same file i have the error for
AVCaptureDevice.Format.FrameRateRange

and

glActiveTexture(UInt32(GL_TEXTURE0 + index)) (+ is unavailable) in the EAGLVideoRender.swift file

[2017-11-19 11:36] sriranjanr opened #50 "Is it possible to access both mics simultanesouly using the custom audio driver code?"
Hello,

I am looking for ways to access the audio data from two or more mics on the iphone simultaneously. I came across the custom audio driver xcode project here. Is it possible to write an audio driver by modifying the custom audio driver code with which we can access audio data from 2 or more mics simultaneously on the iphone? Please let me know. I have looked at the custom audio driver code a

[2017-11-24 12:46] Igorsnaki opened #51 "How to change TokBox audio volume programmatically?"
Hi all!

We use ios openTok sdk for our app.
We have requirement to change audio volume on tokbox session programmatically using slider for changing volume.
Are there any ways to do this? I can't find any OTSubscriber, OTSession, OTPublisher and other classes interfaces which allow me to do this.
Help please.

[2017-11-28 15:44] robjperez commented on #49
Hi @boardmain

The master branch of the repo is not Swift 4 compatible, however there is a branch with the required changes to build with swift 4. See https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/swift4-support

We will eventually merge that branch into master branch

Please reopen the issue if you are still having problems with that branch.

[2017-11-28 15:44] #49 closed

[2017-11-28 15:45] robjperez commented on #46
Audio driver sample has been updated and this should be a problem.

Closing the ticket

[2017-11-28 15:45] #46 closed

[2017-11-28 15:49] robjperez commented on #51
Hi @Igorsnaki

OpenTok SDK has no volume control support bundled in. To do so, you need to implement you own AudioDriver,

To know more about implementing your own audio driver, please take a look to the custom audio driver sample in this repo: https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/master/Custom-Audio-Driver

We have not ported to swift the volume control part, so please ta

[2017-11-28 15:49] #51 closed

[2017-12-19 15:53] simransdsu opened #53 "When updating Custom-Video-Driver to Swift4 it does not work. Just opens up a blank black view"
I included all the Example classes and updated them to Swift4 and the camera does not show up. Its just a blank view

[2017-12-19 16:17] #53 closed

[2017-12-19 16:18] simransdsu commented on #53
Working now. Did the wrong type addition in setupTextures

[2018-01-17 12:41] Payal-wankhede commented on #18
when i subscribe the video . some time preview are showing black screen.

[2018-01-17 16:41] robjperez commented on #50
Hi!

This question is more related with AVFoundation SDK, the audio driver uses that API in order to access to the mics, so it should be iOS the one which allows you to capture audio from different mics at the same time.

From our knowledge, the input device is treated as a single one, and it uses the three mics to improve the performance of the recorded audio. You can however decide which mic wil

[2018-01-17 16:41] #50 closed

[2018-02-02 00:20] msach22 opened #54 "Basic Video Chat"
When I publish a stream, I see two video views on my iOS device, but I am only publishing once stream (as expected). While that happens, if I publish from second device, I'm unable to see that stream on the first device.

[2018-02-22 17:34] msach22 commented on #54
https://cl.ly/133P2J2o1k3u

[2018-02-23 18:12] msach22 commented on #54
fixed: #57

[2018-02-23 18:12] #54 closed

[2018-03-13 04:35] sovannarithsok opened #59 "Screen-Sharing Feature use huge memory"
I integrated my project with opentok by using call and screen-sharing feature. Your ScreenCapture.swift class  has many issues of screen capture. It reverse and also memory keep increasing until App crash.

[2018-04-02 18:17] justindunn commented on #42
still wondering about this issue, has anyone had any luck?

[2018-04-11 11:15] neophyteKB opened #60 "Keep the same aspect ratio whenever the screen is landscape or portrait"
when device is in landscape mode the subscriber video get cropped , suggest method to keep video ratio same in both landscape and portrait mode

[2018-04-16 18:07] msach22 commented on #59
@sovannarithsok Can you provide some more details/logs on the crash and the memory issues that you're seeing?

[2018-04-16 18:10] Lucashuang0802 commented on #60
@neophyteKB is there a specific project you are referring to or things in general here?

[2018-04-18 00:53] Lucashuang0802 opened #63 "[Simple-Multiparty] subscriber shows blank screen after rejoining"
The app seems to have some issues when one or more subscribers rejoin. Subscriber views show blank screen.

[2018-05-01 22:42] Kareem1991 opened #65 "Urgently ,, i need to know how to switch between built-in mic and speaker during session , i try ios documentation still not working , another point i need to know how to mute/unmute voice during session , i had tried the documentation code till now not working???"

[2018-05-02 17:24] Lucashuang0802 commented on #65
@Kareem1991, we believe that you will have to tear down one publisher if you need to switch to another audio driver. As for mute/unmute of a publisher, you can check out this: https://tokbox.com/developer/sdks/ios/reference/Classes/OTPublisherKit.html#//api/name/publishAudio. For a subscriber, it's in here: https://tokbox.com/developer/sdks/ios/reference/Classes/OTSubscriberKit.html#//api/name/sub

[2018-05-02 19:26] muhammadatallah commented on #65
@Kareem1991

[2018-05-02 19:53] Kareem1991 commented on #65
@Lucashuang0802

 first we have already paid for tookbox sdk , i am using ios "SWIFT LANG" and we need support because we have that critical issue in production app in Appstore , we need  to solve together that issue ASAP

 i had already try this  , the voice is not muted  and i will share with you my code

 i try this function and it is not working  :
===============
func Mute()
{
if IsMuted == t

[2018-05-02 20:16] muhammadatallah commented on #65
@Lucashuang0802  we need your help please

[2018-05-02 21:05] Kareem1991 commented on #65
@Lucashuang0802
 i fill out this form before and they directed me to  a link of tokbox documentation .

[2018-05-06 18:29] Kareem1991 commented on #65
@robjperez  Hey!! , the mute problem was solved ,
Second point is not solved yet , i will describe you the issue , in the tokbox when you make audio or video call , by default when publisher talk to subscriber the voice came from speaker and built-in mic
My issue that i had a speaker btn in App UI and i need in the beginning of the call the voice came from mic and when i hit the speaker btn the vo

[2018-05-07 08:37] robjperez commented on #65
Hi,

Our default implementation does not offer a way to switch between the speaker and the handset speaker (I think when you say `mic` you refer to the handset speaker because the mic cannot reproduce any sound).

If you want to implement that feature, you need to implement your own version of the audio device. I suggest you to take a look to our sample: https://github.com/opentok/opentok-ios-sdk-

[2018-05-07 08:37] #65 closed

[2018-05-07 14:37] Kareem1991 commented on #65
Please, first i'm a client not a user and i paid for tokbox so i need support please , listen to me carefully you don't understand me till now and i try to be more clear with you to understand the issue , listen to me : when the session begin and the publisher and subscriber connected  the voice or the audio by default came from speaker and headset to gether , i had asked that i how to make voice

[2018-05-07 17:09] Kareem1991 commented on #65
Hi ,
https://tokbox.com/developer/tutorials/ios/swift/basic-video-chat/

If you try this tutorial the voice will came from speaker and headset in both cases audio only and video only the sound came from speaker and headset , go a head with that tutorial and you will see the issue

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Roberto Perez <notifications@github.

[2018-05-07 17:14] Kareem1991 commented on #65
Hi , i use that tutorial
https://tokbox.com/developer/tutorials/ios/swift/basic-video-chat/
If you test this tutorial you will find the sound came from speaker and headset to gether , in case audio only or video only , you can test it and you will understand the issue ..... and if you have any support sample project in swift that issue is not appeared in , as when i make a call the sound came from

[2018-05-15 15:15] msach22 commented on #59
@sovannarithsok I'm closing this issue due to inactivity. Please re-open with more details if the issue still persists.

[2018-05-15 15:15] #59 closed

[2018-06-13 10:34] doquanghuy opened #67 "OTVideoCaptureConsumer consumeFrame crash"
I am using your library into our project. I am facing a critical bug relates to consumeFrame function of OTVideoCaptureConsumer. My flow:

1. Create a custom VideoCapture
2. Use GPUImage to filter camera, the camera object of GPUImage has a delegate  func didCaptureBuffer(_ sampleBuffer: CMSampleBuffer) {...}
3. In delegate func didCaptureBuffer, I implement addPointer for videoFrame.planes
4. Af

[2018-06-22 08:09] robjperez commented on #67
Hi @doquanghuy

That usually happens because you specify that your frame contains a planar image (like NV12 or NV21) but actually you send a non-planar image (like ARGB).

Please check the output of `GPUImage`, and change this line: https://github.com/opentok/opentok-ios-sdk-samples-swift/blob/master/Custom-Video-Driver/Lets-Build-OTPublisher/ExampleVideoCapture.swift#L78 accordingly

If GPUImage

[2018-07-20 00:24] msach22 commented on #67
@doquanghuy I'm assuming @robjperez's comment fixed your issue so I'm going to close the issue. Please re-open if the issue still persists.

[2018-07-20 00:24] #67 closed

[2018-07-20 16:24] thibaultleconte opened #68 "Destroyed stream when one participant joins the session after being in background mode."
This is based on https://stackoverflow.com/questions/51391291/opentok-ios-best-practice-to-start-a-video-chat-when-one-participant-has-the/51432279#51432279

We have Participant A and Participant B.

A triggers sessionDidConnect
A triggers session streamCreated
A pauses the app. The app is running in background
B triggers sessionDidConnect
B triggers session streamCreated
When A brings the app to

[2018-07-31 17:25] iobroyles commented on #67
I am also seeking a concrete path of using GPUImage to send filtered frames to OpenTok.

@doquanghuy did you get this working properly? Thanks!

[2018-08-15 18:19] iobroyles commented on #67
var videoFrame = OTVideoFrame(format: OTVideoFormat(argbWithWidth: 640, height: 480)) fixed it for me, thanks!

[2018-08-27 17:32] msach22 opened #69 "Add Info.plist information to READMEs"

[2018-08-30 17:16] theronic commented on #46
What was the issue? I'm seeing the same WebRTC error on an unrelated project.

[2018-08-31 19:03] dmyma opened #70 "Is there a way to stream from BroadCast extension?"

[2018-09-11 07:33] robjperez commented on #70
Hi @dmyma , can you elaborate a little bit more on the question?

[2018-09-11 15:37] dmyma commented on #70
Thank you for reply @robjperez . I am trying to implement a Broadcast extension(to stream the screen out-of-app) with Opentok. There are examples to share the screen in app, so my question is it possible to stream out-of-app, because I am struggling to implement it.

[2018-09-11 17:06] robjperez commented on #46
Our audio driver implementation is inspired by webrtc one. We fixed that problem in this PR: https://github.com/opentok/opentok-ios-sdk-samples-swift/pull/47/files

The problem was related to the AudioUnit properties handling.

[2018-09-12 08:46] robjperez commented on #70
iOS won't allow you to capture other apps content in real time. You can record freely what's in your app, but you cannot put your app in background and keep recording the screen. See our [Screen Sharing](https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/master/Screen-Sharing) sample for more details.

Apple introduced [ReplayKit](https://developer.apple.com/documentation/replaykit) som

[2018-09-12 08:46] #70 closed

[2018-09-26 08:56] PhuocLinh opened #71 "Cannot publish"
I use OpenTok version 2.14.2, Xcode 10 and run the application on iPhone X (iOS 12.0)
I got error message "[avas] AVAudioSessionPortImpl.mm:56:ValidateRequiredFields: Unknown selected data source for Port Speaker (type: Speaker)"
So that cannot puslisk

[2018-10-23 20:34] thomas4Bitcraft opened #73 "Opentok Carthage Support"
Hello,

my company have a paid account for Opentok and we want to build an app for iOS using your framework. As I usually only work with Carthage and don't use CocoaPods I am curious if you support Carthage too.

[2018-10-27 20:31] NickyHarm commented on #71
Hi! Did you get the solution? I have no idea how to fix it :-(

[2018-11-13 07:35] Zeeshan03422 opened #75 "OpenTok publisher's view becomes black when application enters in foreground"
In my one to one video calling app using OpenTok, the publisher's view becomes black after it goes to background mode and enters foreground. The subscriber is also not able to see the view(only seeing black box).

I am setting the publisher and subscriber properties as such:

publisher.publishVideo = true
subscriber.subscribeToVideo = true

Any solution will be very helpful.

[2018-11-20 16:58] karolkulesza commented on #70
@robjperez : Please refer to this video from WWDC 2018:
https://developer.apple.com/videos/play/wwdc2018/601/

With ReplayKit 2 it IS possible to perform "iOS System Broadcast".

[2018-11-23 08:25] SarthakShah31 opened #76 "Not able to see camera preview after stopping screen-sharing."
Hi,

I have made a demo in which Video Call and also there is an option to share the screen.

I have taken the global variable of a publisher.

For starting screen sharing, I used below code.
[code]

To stop screen sharing, and a setback to the camera, I used below code.
[code]

But not getting any success, please let me know what I did wrong.

Thanks.

[2018-11-23 11:02] tejas-ardeshna commented on #76
@robjperez  @Lucashuang0802 Facing the same issue. Please help.

[2018-11-23 13:01] thomas4Bitcraft opened #77 "Portrait Video zoomed"
The published video from the device is kind of zoomed - but only in portrait mode. Is there a way to keep the ratio of the landscape mode when publishing in portrait?

[2018-11-29 12:58] karolkulesza opened #78 "Not able to `consumeFrame` from iOS Broadcast Extension"
I've successfully incorporated the latest version (v. `2.15.1.6758-ios`) of OpenTok.framework into my test  iOS Broadcast Extension (extension uses ReplayKit 2.0 and `RPBroadcastSampleHandler` class: https://developer.apple.com/documentation/replaykit/rpbroadcastsamplehandler).

However, any attempts to send any frames (not only the ones generated iOS system broadcast stream, but any frame, even t

[2018-11-30 18:38] bsrao commented on #78
@karolkulesza Is it possible to provide a sample app that demonstrate the issue ? so that I can check what is going on.

[2018-12-06 22:41] MathiasDum commented on #78
I'm having the the same issue

[2018-12-06 23:59] bsrao commented on #78
@MathiasDum @karolkulesza I am able to screen share from the extension using iOS 2.11.3 but looks like there is an issue with 2.15. Please try 2.11.3 for now, meanwhile we will look into the issue with 2.15.

[2018-12-17 21:18] etown commented on #78
Are you able to also process the app audio from the broadcast extension?

[2018-12-18 19:09] etown commented on #78
@karolkulesza Thank you, I am aware replaykit provides the frames, but I’m looking to see in example of consuming the audio with opentok. Thank you!

[2019-01-10 13:48] Igorsnaki opened #79 "iOS OpenTok sdk crashed, when receive signal to session without connectionID."
Hi all.

We develop mobile application with OpenTok sdk.
Always keep sdk up to date. ( Now we are using  OpenTok 2.15.2 )
2-way and group calls work good.
Also we use signaling API between clients in session. It also work good.

But recently we added functionality: "Sending a signal from your app server to connected clients" like it described in documentation: [https://tokbox.com/developer/rest/#s

[2019-01-18 06:42] thorng opened #80 "'consumeFrame' crashes when using a modified pixel buffer"
Hi, I have taken the Custom-Video-Driver example project and updated it to Swift 4.2. Then I tried taking the image buffer, modifying it (using Vision and Core Image), then return it for consumption by OpenTok. However, every time I try to do so, I get the error on the first frame:

Here is my code:

     func captureOutput(_ output: AVCaptureOutput, didOutput sampleBuffer: CMSampleBuffer, from co

[2019-02-20 16:33] msach22 commented on #41
@aprecode Apologies for the delay on this one. Are you still facing this issue?

[2019-02-21 08:24] #41 closed

[2019-02-26 01:16] etown commented on #78
@karolkulesza could you please share the sample extension project you had before? it would be extremely helpful. thank you!

[2019-02-26 22:54] etown commented on #78
@bsrao can you confirm if the issue is currently affecting 2.15? also, could you provide replaykit sample code? thank you!

[2019-02-27 23:16] bsrao commented on #78
@etown Yes, it is effecting 2.15. I don't have any sample code that I can share but it will be straight forward, as @karolkulesza shared, you need to grab the frame from processSampleBuffer and consume it using external capturer (you can use custom video driver class in the sample repo).

[2019-03-11 16:21] mbouxin opened #82 "Multiple custom audio"
I am developing an app in which I need to send 2 audio stream: the default one and a custom. My custom source is a Bluetooth device for which I get int16 on a 8kHz sample rate.

My first guess would have been to use two subscribers and to use the custom audio driver for my custom source but it appears not to be feasible.

My questions are:
- is this feature by any luck on opentok roadmap?
- if not

[2019-03-27 11:36] rajAppmetry opened #83 "Problem while switching between basic Capturer to Custom Capturer."
Hi,

I have added the AR node which displays the Subscriber live video feed whenever user switches the camera to the front.

Initially, the publisher and Subscriber are not assigned to any Custom Capturer and Renderer. When the user switches the Camera to the front at that time, initializing the SCNViewVideoCapture and OpenTokMetalVideoRender and then assign it to Publisher's videoCapture and Subs

[2019-04-03 12:28] ozkansari37 commented on #63
I have same problem. I cant find any solutions yet. After the rejoin, subscriber view is black. But if i click mute subscriber button, video shows up.

[2019-04-04 15:04] robjperez commented on #80
Which image format is your `makeBigEyes` returning?

In the sample, opentok library is expecting to have a planar YUV image, if `makeBigEyes` is returning a different image format (like RGBA), it won't work.

[2019-04-04 17:01] ozkansari37 commented on #63
I found the problem. Subscriber view is inserted to collectionview cell inside layoutSubviews method. When subsucriber rejoined, layout is remain same and layoutSubviews never called. Because of that subscriber view never inserted to cell. I inserted subscriber view in dequeueReusableCell method. That fixed the problem.

[2019-04-11 12:31] ozkansari37 opened #84 "Custom Video Driver shows black publisher (Swift 4.2 - Xcode 10.1)"
The sample project Custom-Video-Driver not working as expected. All opentok credentials are replaced correctly and I can see subscriber. But publisher frame is blank. Publish not started and publish stream not created.

[2019-04-12 11:09] Vol-i commented on #84
Same here, publisher frame is blank.

[2019-04-25 09:31] designtesbrot commented on #70
Same question here. Is it possible using ReplayKit 2 to broadcast the Devices screen to a Tokbox session?

[2019-04-26 11:11] designtesbrot commented on #84
Same here Xcode 10.2.1

[2019-04-29 22:02] msach22 commented on #78
Hi Folks, we don't have any sample code for this yet, but we are working on fix that should be released with 2.16.0.

[2019-05-01 15:47] msach22 commented on #75
@Zeeshan03422 Apologies for the delay in getting back to you. Are you still seeing this issue with the latest SDKs? Could you please share how long you're in the background before you come to foreground?

[2019-06-10 14:08] boardmain opened #86 "Unable to mute video"
hi, i have a problem when i try to lower the volume to mute
im unable to do it, the min level is 1 point
and the audio is still audible

[2019-06-11 08:37] alexsafe commented on #13
I am still getting this issue. I am using swift 4, did the appropriate changes to the master branch, but i am using the DefaultAudioDevice class in my own project. Has this been reported again, or maybe it's something wrong with the way i call the class?

[2019-06-13 22:41] imentos commented on #84
same here

[2019-06-24 13:33] yusuftor commented on #42
What version have you been using? I have an issue with orientation. The last version that works is 2.14.2, all the others do not update the videoDimensions property of a stream correctly.

[2019-06-24 13:42] yusuftor opened #87 "Orientation issues"
I have contacted tokbox support a couple of times with a sample app demonstrating this problem but the support seems to be very slow. I'll try posting on here to see if I can reach out to the developers, as this is becoming an urgent problem.

Essentially, version 2.14.2 of OpenTok was the last version to correctly update the videoDimensions property of a stream that you're subscribed to. Ever sin

[2019-06-26 19:09] Nachot93 commented on #84
Same here, also crashes saying: `Multiple audio/video AVCaptureInputs are not currently supported`

[2019-07-03 09:55] vaibhavTesting opened #88 "Not able to see subscriber videos"
Using Publisher token I can able to see only publisher video.
 How can I see the subscriber's(who are using subscriber token but the same session id) video who connected with the same session with Publisher?

[2019-07-03 16:19] msach22 commented on #88
A subscriber can only subscriber - they cannot publish. This is why someone using the subscriber token will not be able to publish. For more information, please check out the following guide: https://tokbox.com/developer/guides/create-token/

[2019-07-03 16:19] #88 closed

[2019-07-03 16:20] msach22 commented on #86
@boardmain Please use the `publishAudio` and `publishVideo` methods to toggle the audio and video

[2019-07-03 16:20] #86 closed

[2019-07-08 11:09] magora-obukhov commented on #84
+ 1

[2019-07-08 20:50] designtesbrot commented on #84
@robjperez (seems to be the maintainer) it looks like there are several people facing this issue. Without having source code access, is there anything we can do to support? For us the issue seems to be related with using routed sessions.

[2019-07-09 15:59] marcoserafini2 commented on #60
@neophyteKB have you solved it ?

[2019-07-31 22:32] niyazahmed commented on #78
@karolkulesza  I am trying to do similar integration exploring tokbox and replay kit 2 for screensharing. Do you mind sharing your sample code.

[2019-08-05 15:52] skywaydave opened #91 "iOS 13 Basic-Video-Chat OTMTLVideoRenderer setupTexturesForFrame EXC_BAD_ACCESS"
When running the Basic-Video-Chat app on an iPhone Xs Max with iOS beta 5, I am getting an EXC_BAD_ACCESS for OTMTLVideoRenderer setupTexturesForFrame.  Is there any support for iOS 13 at the moment?

[2019-08-05 23:13] bsrao commented on #91
@skywaydave Is this new with beta 5 ? Did you check with earlier versions ? Can you add call stack trace ?

We usually check with the final beta build (golden master) as things can change between each beta builds etc.

[2019-08-06 16:00] skywaydave commented on #91
@bsrao I had not tried using this code before beta 5, so do not know if this was occurring previously.  I've attached a picture of the stack trace.  Hope that is useful.

<img width="645" alt="Screen Shot 2019-08-06 at 9 59 05 AM" src="https://user-images.githubusercontent.com/1863113/62555889-fe8b6500-b830-11e9-8c96-e412ac171856.png">

[2019-08-08 17:54] therobwatson commented on #91
I am seeing this in our productions app on multiple (all?) iOS 13 releases public beta releases and a pre-public-beta-release.

[2019-08-09 14:30] alrik commented on #84
Same for me. Cannot get ṕublishing on routed sessions to work with latest iOS SDK.

[2019-08-12 06:08] bsrao commented on #91
Thanks @skywaydave and @therobwatson for the info. I will take look at it and update you here

[2019-08-12 13:53] robjperez commented on #84
Hi,

Sorry for the delay, but it should be fixed in #92

[2019-08-13 12:06] robjperez commented on #84
Now that the PR is merged, it should be fixed.
Going to close the issue, please reopen it if necessary

[2019-08-13 12:06] #84 closed

[2019-08-13 12:59] bsrao commented on #78
This is an almost finished working sample for Broadcast extension using OpenTok SDK : https://github.com/opentok/opentok-ios-sdk-samples/tree/broadcast-ext-sample
Feel free to share any issues you find!

[2019-08-13 13:08] bsrao commented on #91
@therobwatson @skywaydave The issue is fixed and we are planning it to include in the next patch release and it should be before iOS 13 goes live.

[2019-08-15 13:07] tandinhlee opened #93 "Video view distorted then change frame"
In example: Multiparty-CollectionView. When publishers join session: cells (video views) change size => Video distorted

[2019-08-16 12:07] Amishabigscal commented on #75
Yes I am too getting  this issue . App going background for 2 - 3 second and come to the foreground then publisher's view becomes black.

[2019-08-22 18:32] minuscorp opened #94 "Streaming audio from a custom generated signal."
Let's see the following snippet that gets called instead of the `AudioUnit` callback for recording:

[code]

On the other side, the render side nothing is changed from the example project using the custom audio driver, we just render to the speakers as is it by default in the bus, the callback gets correctly called but nothing is rendered in the speaker.

Is there something that am I doing wrong?

[2019-08-23 05:49] Prakash-Incture opened #95 "Subscriber Audio not able to listen"
Hi ,
publisher and subscriber are connected to a session, subscriber can able to hear the publisher voice, but subscriber voice not able to here by publisher,please provide the solution for this,i was using 2.16.2 OpenTok Sdk.

Thanks
Prakash

[2019-09-03 10:34] shortomia commented on #91
Hi, We are OpenTok user and using it in our iOS App, we encountered same issue on ios 13.0 beta 8, too.
Has this issue fixed on OpenTok SDK 2.16.2 ? Or we need to wait for the next version update?

[2019-09-03 16:00] bsrao commented on #91
@shortomia The fix will be in the next release which is iOS 2.16.3, also there is a workaround with iOS 2.16.2, In your Target Scheme settings-> select Run -> Select Options on the right hand side -> Select "Disabled" for "GPU Frame Capture" and "Metal API Validation". @therobwatson  @skywaydave

[2019-09-04 07:03] shortomia commented on #91
@bsrao Thanks for reply, I disabled "GPU Frame Capture" and "Metal API Validation" but still had the same issue.
running on iPhone6s with iOS 13 beta8 and iOS 13.1 beta1

Debug tracks:
#0	0x0000000104fd851c in -[OTMTLVideoRenderer setupTexturesForFrame:viewSize:] ()
#1	0x0000000104fd9808 in -[OTMTLVideoRenderer drawFrame:viewSize:] ()
#2	0x0000000104fe58e0 in -[OTMTLVideoView drawInMTKView:] ()
#3

[2019-09-05 13:06] groue commented on #91
Hello @bsrao

This does not fix the crash with OpenTok 2.16.2, iOS 13.1 beta 2, on the device. Even when the app is launched from Xcode and those run options are applied.

Version 2.16.3 is dearly wanted!

[code]

[2019-09-06 08:09] olegpipo commented on #91
Confirmed on iOS 13.1b2 - it's becoming really urgent for 2.16.3 to be released, please.

[2019-09-06 09:41] carbonaro commented on #91
Same here, we are currently unable to release for iOS 13. Any delivery date ?

[2019-09-06 14:03] minuscorp commented on #94
I managed this by myself

[2019-09-06 14:03] #94 closed

[2019-09-06 14:06] minuscorp opened #96 "55: EXCEPTION (-1): "" when writing to an audio session."
I'm currently writing capture data from a sample of 48000hz sin signal just for testing purposes. When I start to send the audio packets as they come from BLE and decompressed to have the same format as TokBox (1 channel, 48000hz, 16bit signed integer) I start to get the following error:

`2019-09-06 15:14:30.609207+0200 ElluListenerExample[570:47449] [aid] AudioIssueDetectorNode.cpp:161:Initializ

[2019-09-06 19:22] bsrao commented on #91
@shortomia @groue Never mind! The workaround is for a different Metal renderer issue which is also patched in the 2.16.3 release. We are planning the release in the beginning/mid of next week.

[2019-09-09 14:33] maciejjj commented on #91
Ok so to sum up:
- you know there's critical bug in the library, which makes our apps unusable on iOS 13. And you know it from over a month.
- you claim that it was fixed couple of weeks ago.
- yet fix wasn't released in 2.16.2 in the meantime.
- you're waiting until the very last moment before iOS 13 release. It could be even this week!
- which leaves us with no time to test the new version (and

[2019-09-09 15:31] msach22 commented on #91
@maciejjj We understand your concern. Initially, we had only discovered one iOS 13 render issue which we patched with 2.16.2, but we discovered another one with one of the later iOS 13 beta builds. We planned to release after iOS golden master build that Apple releases a week before the actual release because it is a good time to validate.

Apologies for the delay, but we plan on releasing shortly

[2019-09-09 16:55] falkobuttler commented on #91
Leaving all customers hanging like that is absolutely unacceptable given the time you knew about the issue. iOS 13 GM will drop tomorrow.
Time to look for alternatives...

[2019-09-10 21:04] falkobuttler commented on #91
iOS 13 GM is out now and the general public will have access to it on September 19. When can we expect the 2.16.3 update?

[2019-09-11 05:58] olegpipo commented on #91
This is really becoming critical guys, come on... "releasing shortly" is not good enough: we need an actual date, and this date needs to be yesterday, please.

[2019-09-11 10:23] e-verdillon commented on #91
Hi,
iOS13 GM is out!
Any news??

[2019-09-11 15:10] olegpipo commented on #91
Could you please communicate with your paying customers ?

[2019-09-11 22:32] msach22 commented on #91
Hi folks, happy to share that we just released iOS 2.16.3 with iOS 13 support. Thanks for your patience.

[2019-09-11 22:32] #91 closed

[2019-09-11 23:32] therobwatson commented on #91
Hey, don't tell these guys until I get a chance to submit my build and get first in line for Apple Review lol

[2019-09-19 16:19] bsrao commented on #96
@minuscorp This issue was fixed in this version of the audio driver : https://github.com/opentok/opentok-ios-sdk-samples/blob/master/Custom-Audio-Driver/External-Audio-Device/OTDefaultAudioDevice.m

[2019-09-19 16:20] bsrao commented on #87
This was fixed in 2.16.3

[2019-09-19 16:20] #87 closed

[2019-10-08 17:26] #96 closed

[2019-11-06 19:07] ShengJunDong89 opened #97 "Subscriber and Publisher should have weak delegate property"
Right now, if the object (most commonly a ViewController) is the delegate of these Subscribers and Publisher, and keeps the reference to these subscribers and publisher, will be strongly referenced, hence a retain cycle.

The fix here is for the implementor to manually call disconnect.
Is there a cleaner way to handle this? Does these delegate reference needs to be held strongly?

[2019-11-21 08:32] marinaf27 opened #98 "Crash on Basic Video Chat"
Upon running the Basic Video chat, the application crash with Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)

#0	0x000000010072ab38 in -[OTMTLVideoRenderer setupTexturesForFrame:] ()
<img width="1680" alt="Screenshot 2019-11-21 at 3 23 59 AM" src="https://user-images.githubusercontent.com/19539258/69320615-809c6f80-0c0f-11ea-9ab5-fb43eb57cd89.png">

[2019-11-28 05:59] Shrutimittal91 opened #99 "Compiler error in Xcode 11.2, Open Tok Version 2.16"
<img width="751" alt="Screenshot 2019-11-28 at 11 28 19 AM" src="https://user-images.githubusercontent.com/8266611/69780774-30567c00-11d2-11ea-948b-fcc59a2c3af2.png">

[2019-11-29 16:48] danielCarlosCE opened #100 "How to take screenshot of webview with playing video?"
`ScreenCapturer` works very well for most cases I need, but when there's a video playing on my webview, its content is not on the screenshot sent. How can one take screenshot of whole view including video content?

Thanks,

[2019-12-17 18:26] danielCarlosCE commented on #59
I'm facing the same issue. What details do you need?

[2019-12-17 18:36] danielCarlosCE opened #101 "ScreenCapturer using Main Thread and Taking too much CPU"
`UIView.drawHierarchy(in:afterScreenUpdates:) must be used from main thread only`
`UIView.bounds must be used from main thread only`

Beside those warning whenever I start sharing screen, the CPU use goes from 30% to 100% until the app crashes.

[2019-12-23 07:24] Surendraiosdev commented on #75
Hello All,
Yes, i am also getting same issue publisher's view becomes black.
any solution for this issue then please let me know.
i using latest iOS SDk OpenTok (2.16.3)

publisher's unable to send streamvideo at subscriber side. how to fix.
thanks in advance.

[2020-01-11 16:27] findigital opened #102 "Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)"
I've applied my APIkey, session ID and tokens to a few different sample projects and on immediate open of the build on the device I receive the following error "Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)" and the line below:

import UIKit

@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate {

----

I'm stuck testing since none of the sample builds I tested do not work for

[2020-01-11 16:27] findigital commented on #98
I had the same issue - any resolution?

[2020-01-23 22:42] johnDaniul commented on #75
I am also seeing this issue in a project, using OpenTok iOS SDK 2.16.3. When returning to a foreground state, the publisher will basically stop randomly, with no obvious errors.

[2020-01-24 13:36] danielCarlosCE opened #104 "What's the equivalent of Session.StreamPropertiesListener on iOS?"
I have two users in the session. User A and user B. On User A's application I want to be able to show if user B is muted or not.

I've tried the property observer
[code]
It works if user B is only streaming it's camera/audio. But as soon as user B starts a screen stream, the observer is not called any longer. It seems you create a new `OTStream` underneath.

Thanks

[2020-01-24 13:48] #104 closed

[2020-02-04 10:25] RohitiOSDeveloper commented on #102
Simple way you can solve this issue by update pod .

[2020-03-16 03:45] jrz-afs opened #105 "Memory Issue + Crash with OpenTok / WebRTC with iPhone 11 Pro Max running iOS 13.3.1"
Hi OpenTok,

I am encountering a strange issue with memory allocation on a basic video chat such that as soon as calls are made to `OTVideoCaptureConsumer`'s `consumeFrame(_:)` method, memory spikes from about 100MB to 2.5GB. Such a rapid spike in memory causes iOS to terminate the app.

I have three physical devices I am testing with: an iPhone 11 Pro (256GB), an iPhone 11 Pro Max (512GB), and an

[2020-03-16 16:19] bsrao commented on #105
@jrz-afs Can you try using objective-c Basic-Chat sample code and see if that is also giving same crash ? also try setting the publisher's `cameraResolution` to `OTCameraCaptureResolutionLow` or `OTCameraCaptureResolutionMedium`
My guess is, for some reason the OpenTok's internal capturer is using very high camera resolution on iPhone 11 Pro Max.

On the other hand, you can use Custom-Video-Driver

[2020-03-20 10:42] pkondrashkov opened #106 "Cocoapods Spec is broken."
Currently when I try to install any version of OpenTok it fails on unarchiving sdk.
[code]
Actually the reason is `https://tokbox.com/downloads/OpenTok-iOS-2.16.5.tar.bz2` seems to be broken. Instead of responding with actual archive it redirects to your home page: `https://www.vonage.com/communications-apis/video/`

And any other links really. `https://tokbox.com/downloads/OpenTok-iOS-2.14.2.tar.

[2020-03-20 16:29] bricepollock commented on #106
Getting this same issue starting yesterday

[2020-03-20 16:33] msach22 commented on #106
Hi team, apologies for this. We had an issue with the server hosting the SDKs, but that's now been resolved. You should be able to download this via Cocoapods or even directly.

I've just validated it from different endpoints.

[2020-03-20 16:33] #106 closed

[2020-03-20 16:47] pkondrashkov commented on #106
Thanks for quick actions and response! Have a good day!

[2020-03-20 16:47] msach22 commented on #106
Happy to help, apologies for the issue :)

[2020-03-20 17:02] ilyapuchka opened #107 "Can't install via cocoapods"
Can't install OpenTok via Cocoapods. None of the versions.
The error is the following

[code]

cocoapods version 1.8.3

Downloading archive directly is also not possible as is redirects to landing page.

[2020-03-20 17:05] ilyapuchka commented on #107
Seems to be working fine now. Seems like the issue was related to the archive link.

[2020-03-20 17:05] #107 closed

[2020-03-24 23:24] klconur opened #109 "Video stream application for multiple subscribers VoIP push issue"
Hi, we have a video streaming app and we are using TokBox on our iOS app. I upgraded our iOS app SDK to iOS 13 and I cannot use VoIP notifications right now because apple has substituted something about VoIP push notification structure.

I am inviting my subscribers to the video stream using VoIP push notification.

Regarding Apple and iOS 13, we have to initiate the call from Callkit for VoIP bac

[2020-03-25 12:17] Rabindra123 opened #110 "screen sharing is not working when app enter in the background"
i am using group video chat...when i tried to share the publisher screen share it is working when app in the foreground. but when app enter in the background state it is not working subscriber sceen fully black.
i am stack here since last day

[2020-03-26 00:07] #109 closed

[2020-03-26 17:12] jrz-afs commented on #75
I am seeing the same issue here as well. Any updates on this?

[2020-03-27 22:26] IGitGotIt commented on #75
With  2.16.3.7978-ios on iPhone 7 using [Basic-Video-Chat](https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/master/Basic-Video-Chat) swift app  and background mode capabilities like :
![image](https://user-images.githubusercontent.com/4369083/77802855-0191ca80-7039-11ea-8c0a-6b245ded0518.png)
I am not able to reproduce the issue.
I was in the background mode for 2-3 seconds, more than

[2020-03-29 18:25] gowtham1094 opened #111 "Publisher Stream is not created"
**Issue:**
Publisher stream is not creating whenever app launches through VOIP notification and goes through the Call Kit.

We are attaching the example project in which you guys can test the failure cases and helpful to debug the issue.

**Example Project**
Example project is same as basic video chat example with few additional changes we made like integrated call kit to raise whenever there is V

[2020-04-02 15:33] bsrao commented on #111
@gowtham1094 Can you disable videoTrack by setting publisher.videoTrack = false right after you create the publisher. By default the OpenTok cloud expects both audio and video but when you launch from Callkit UI, camera won't be enabled and that results streamCreated event not getting fired!

[2020-04-08 05:15] gowtham1094 commented on #111
Hi @bsrao ,
Thanks for you response, i have integrated the CallKit similar to this `https://github.com/opentok/CallKit`, which resolve the callee problem on time of answering through call kit. But I faced the same issue (publish stream not created) on caller side on very first call - after new build installed or killed the app then initiate call. After the first call it is working perfectly fine f

[2020-04-10 21:04] hkellaway opened #113 "Question - how to mock OTSession object?"
Hello -

I'm trying to write unit tests around my Tokbox integration - however, this is quickly stymied by the fact that `OTSession` objects cannot be mocked given they require a valid API Key and Session ID association.

Given I'm trying not to connect to the actual TokBox service to enact unit tests - any suggestions on how to proceed?

[2020-04-14 07:01] Abhishek9634 opened #114 "Subscriber Area is empty in case of Publisher"
I have just download Multi-party example and install in 3 different devices with same session token in all &  1 publisher and 2 subscriber generate token, I am getting a stream/video of a publisher in all subscriber screens. But in publisher, I am not getting a stream/video of subscribers ?
**Media Mode** is **Routed** I select while creating session token.

@jeffswartz : Can you help me here

[2020-04-16 21:39] tandinhle opened #115 "OpenGLES, GLKit are deprecated."
Do we have plan for this in future?

[2020-04-28 17:39] jgorozco commented on #100
i see that in objective c was updated (https://github.com/opentok/opentok-ios-sdk-samples/blob/master/Screen-Sharing/Screen-Sharing/TBScreenCapture.m ) have any plan to update this code to swift?? :-)

[2020-05-04 07:29] #100 closed

[2020-05-05 03:44] khushbooOpenxcell opened #117 "ERROR[OpenTok]:Audio device error: startCapture.AudioOutputUnitStart returned error: -66637"
I have implemented OpenTok with CallKit. Whenever I start outgoing call, my stream is never published. At the inspector dashboard it says,

it never succeed in publishing.

Moreover, I get the error in the log:

Is the error in publishing because of this error?

I have added OTDefaultAudioDevice file from the demo provided on GitHub.

Below is my code:

`
func provider(_ provider: CXProvider, perf

[2020-05-21 19:43] vncmaciel commented on #101
Same here

[2020-05-22 15:49] Abhishek9634 opened #118 "Multiparty Sample: Getting Empty streamId if publisher disconnected"
On publisher disconnection, getting stream id empty so in that case cell, video visual stuck there.
Please help we have a demo tomorrow.

Console log attached

[code]
<img width="464" alt="Screenshot 2020-05-22 at 9 20 26 PM" src="https://user-images.githubusercontent.com/10388287/82685582-102fe300-9c72-11ea-98ae-4896ee37c2d3.png">

[2020-05-23 04:40] Abhishek9634 commented on #118
Well Initially i was using singleton class, May be that could be the root cause.
But Still my actual problem is not solved. when i disconnect publisher and re-connect to same session. I am getting his audio only i.e not the video.

[2020-05-23 05:47] Abhishek9634 commented on #118
As if i am using `self.setNeedsLayout()` in collection cell in order to get visual

[2020-05-26 00:55] Jeremias-Pellegrino commented on #117
Same problem here BUT it only happens when app is in background!
Hope it can be solved soon :)

[2020-06-02 14:14] palmas commented on #75
I am also seeing this issue on android.

[2020-06-02 17:32] palmas commented on #75
I am also seeing this issue on android. After approximately 1 minute in background  publisher's view becomes black and publisher is unable to send stream video at subscriber side.

OpenTok sdk version: 2.16.5,
Android version: 9.0

[2020-06-05 22:59] tandinhle opened #119 "Subscriber Stream Video Type Alway .camera"
When a subscriber change video source to share screen
-> Check subscriber stream video type alway .camera

[2020-06-08 05:03] ShengJunDong89 opened #120 "Publisher is not publishing for unknown reason"
This happens infrequently, maybe once every 10-20 sessions. When publishing, there's no callback on whether publish succeed or failed.
When session is connected, the delegate callback `sessionDidConnect(_ session: OTSession)` is called. Once that happen, publish is called `session.publish(publisher, error: &error)`.
At this point there's no error, and the async delegate error handler `func publish

[2020-06-09 12:21] bejaxer opened #121 "Publisher video streaming is stopped while having a phone call"
OpenTok video streaming does not work simultaneously with a phone call
Video streaming doesn’t work while having a phone call and when it ends, it starts to work

While having a phone call, the publisher's video is not recorded but once the phone call is ended, the video recording is starting working.

This method is called before the session is created.
`UIApplication.shared.open(phoneURL as URL,

[2020-06-18 14:30] saikumar-zapoj opened #122 "streamCreated OTPublisherDelegate method not called"
session.piblish is not publishing the stream.

I can't get any log to find out the exact error.

when I run the example Simple-Multiparty with the same sessionid, apikey, token everything works well.

Here is my code snippet:

    var subscribers: [IndexPath: OTSubscriber] = [:]
    lazy var session: OTSession = {
        return OTSession(apiKey: kApiKey, sessionId: kSessionId, delegate: self)!

[2020-06-25 07:23] saikumar-zapoj commented on #120
i have got same issue any solution please

[2020-06-28 17:04] saikumar-zapoj opened #124 "turn off and on speaker is not working in iOS Swift"
I have used the below code for Turn off and on for Speaker it works well in Webrtc native. but it's not working while using Opentok. by default opentok is enabling the speaker but I don't want to come up with speaker at initial. please suggest me any solution.

func enableSpeaker(isSpeaker: Bool) {

    let audioSession = AVAudioSession.sharedInstance()
    do {
        try audioSession.setCategor

[2020-06-29 04:54] saikumar-zapoj commented on #124
@robjperez please help me with this.

[2020-06-29 04:55] saikumar-zapoj commented on #122
@jeffswartz please help me with this

[2020-06-29 05:05] saikumar-zapoj commented on #104
Hi @danielCarlosCE facing the same issue could you please elaborate on the code.

[2020-07-08 11:54] aviya-smila opened #125 "How can I share the whole screen that currently displayed and not specific view controller?"
Hi,
I'm writing an app where I need the to share the whole screen which is assambled from VCs, AV camera previews and more.
I want to share the whole displayed screen(including camera preview with AV layer).
how can I achieve this?

[2020-07-30 16:17] aayubhagat commented on #124
I am also facing the same issue.
When i set audioport none it doesn't work. Bydefault speaker is active.Please help me on this.

[2020-08-04 06:19] aayubhagat opened #127 "I need to know how to implement ear piece speaker during session"
On audio call, I have to implement ear piece speaker functionality in which voice is audible on ear piece speaker not on main speaker. Can you please help me on this to how to implement this functionality?

[2020-08-12 04:24] Eratos1122 commented on #75
The background mode is enabled but the publisher screen becomes black if I lock my iPhone

[2020-08-12 05:35] msach22 commented on #75
@Eratos1122 This is a limitation from the iOS platform, you cannot access the camera in background mode which is why the screen becomes black when you lock your iPhone.

[2020-08-12 08:03] Eratos1122 commented on #75
It becomes black when the app is active after a while

[2020-08-19 11:58] gotozainishaikh commented on #124
yes i also have same issue.

[2020-09-03 07:43] abdulmalik-tss opened #129 "Video is Getting Stuck or Black with in 10 seconds of Call."
The video is getting stuck or showing a black screen. When the user enters the iOS app to the background and back to the foreground it will be solved for a few seconds and again repeating the problem.

[2020-09-15 13:12] rextremotabaresDtt opened #130 "Swift Package Manager support"
Hello,
my company has a paid account for Opentok and I'm migrating our App dependencies to SPM. OpenTok is using Cocoapods but I'm wondering if there are any plans to allow integration with Swift Package Manager (which is getting more and more support from Apple itself such as [supporting binary libraries ](https://developer.apple.com/videos/play/wwdc2020/10147/)) or if it's already done how can w

[2020-09-16 06:00] HariMohan-eng commented on #91
Hi,
I fond crashing issue when run on iOS 13.4, but its working fine on iOS 12.4.

PFA, I found OTMLVideoRender setUpTexttureframe crashing issue.
Pls let me know, how we can run this library on iOS 13.4 and above. Pls fix and let me know.
my email id is:- harimohan@unyscape.com

[2020-09-22 00:55] msach22 opened #131 "Important changes to iOS 14 networking affecting relayed sessions"
With iOS 14, Apple introduces local network privacy ([see this video](https://developer.apple.com/videos/play/wwdc2020/10110)).

Beginning in iOS 14, the operating system will prompt the user for permission when an application attempts to subscribe to clients on the same local network in a [relayed session](https://tokbox.com/developer/guides/create-session/#media-mode).

If your application uses

[2020-10-08 13:23] vanboren commented on #75
@msach22 I also having this issue with the latest sdk 2.18.1 on ios 14. When the app goes background and then foreground publisher video freeze and turns into black screen. Subscriber video have no problem and also my audio still remains.

[2020-10-12 23:41] xezero commented on #130
+1 on SPM support!

[2020-10-26 22:34] Vonage-Aida commented on #130
@rextremotabaresDtt  @xezero  thanks for your interest on SPM support, I filled the product request for this feature.

Thanks,
Aida

[2020-11-13 23:15] MichaelJolley commented on #33
Closing as stale. Please open a new issue if the problem or question persists.

[2020-11-13 23:15] #33 closed

[2020-11-13 23:16] MichaelJolley commented on #48
Closing as stale. Please open a new issue if the problem or question persists.

[2020-11-13 23:16] #48 closed

[2020-11-13 23:16] MichaelJolley commented on #68
Closing as stale. Please open a new issue if the problem or question persists.

[2020-11-13 23:16] #68 closed

[2020-11-17 10:20] jlorente opened #141 "Variable isResetting is never set to true or audio restart"
Variables isResetting is not set to true on doRestartAudio function and causes an audio tear down that could end in a null pointer error if a restart is called for one unit (rendering or capture) while the other one has not yet start to render or capture.

Error is solved adding  "isResetting = true" on top of doRestartAudio function.

[code]

[2020-12-24 14:53] tuanit09 commented on #70
App Extension is memory limited. only 50MB is allowed when running on my phone. Tokbox uses above 70MB and the extension get killed by system.

Anyone made a successful attempt?

[2021-01-13 09:04] YSavitskiy opened #143 "There are no new publishers in background mode"
Hello.

iOS SDK.

OpenTok 18.1,
iOS 13.7, 14.1, 14.3.

Background mode.

Test code:
our application and your sample
https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/master/Basic-Video-Chat

Project is configured according to the documentation
https://tokbox.com/developer/sdks/ios/background-state.html

In the background mode the current audio session works fine,
but in the background

[2021-01-18 05:39] milanTbi commented on #143
@YSavitskiy Hello you get any solution for this problem, I have the same issue

[2021-01-18 05:50] fukemy commented on #124
same problem here, did someone solved this?

[2021-01-18 10:00] YSavitskiy commented on #143
@milanTbi Hello. No, I have not resolved this issue. I am also discussing about it with openTok support.

Some of the information I sent them
Case 1)

a) run Basic-Video-Chat on iPhone (iOS 13.7 or iOS 14.3)
b) run webClient.html

So far everything works well

device a go to background mode (minimize Basic-Video-Chat) and after that
c) run Basic-Video-Chat on another iPhone.

We can see and hear d

[2021-01-27 23:35] hkellaway commented on #130
hi @Vonage-Aida 👋 any movement on this one? thanks!

[2021-02-13 08:19] #101 closed

[2021-03-04 00:45] hkellaway opened #145 "[ERROR] otk_webrtc_video_track_source.cpp:105 ProvideFrame Error converting video frame."
Hello 👋 Without changing anything about my TokBox integration, i've randomly started encountering an error like this periodically:
`[ERROR] otk_webrtc_video_track_source.cpp:105 - [0x7fb0d94e1390]ProvideFrame Error converting video frame.`

It is logged to the console indefinitely over and over

I am integrating TokBox via CocoaPods; pod version `2.19.0`

When starting usage, there is also a messa

[2021-03-08 07:41] Lebron1992 opened #146 "the latest iOS OpenTok SDK( 2.19.0) crash: Collection <NSDictionaryM: 0x28178b2c0> was mutated while being enumerated"
When the host, celebrity and fan are online, if we kick the fan and then kick the host right away from [IBS](https://github.com/opentok/interactive-broadcast-js), the iOS app using `OpenTok(2.19.0) ` will crash with a big probability. But the `version 2.18.1` works great! The crash error message is: `Collection <NSDictionaryM: 0x28178b2c0> was mutated while being enumerated.`
We printed out the ob

[2021-03-25 16:40] lucas-tl commented on #146
@willyaranda is this in your radar? I am seeing a surge of this crash. The SDK version is 2.19.0.

[2021-03-28 04:42] enasaz9 commented on #146
same happened with me

[2021-03-29 12:36] chathurka commented on #145
https://tokbox.com/developer/sdks/ios/release-notes.html#known-issues

[2021-04-07 06:58] engrossinfotechtest opened #147 "Publisher view black screen issue when app goes to background"
Publisher view is turned to black when app goes to background in swift . Even while keeping the session alive and enabling background modes (and keeping audio session enabled in background mode)
So audio seems to work fine.
While the publisher returns back to foreground.
view is not restored while  the subscriber view is restored in the same situation .

I am using the latest **OPENTOK** library

[2021-04-08 14:08] hkellaway opened #148 "Excessive direct access warnings present in 2.19.0 "direct access in function webrtc::" "direct access in function rtc::" "direct access in function cricket::" etc."
There are excessive warnings produced by the OpenTok library, all starting with `direct access in function`. Excessive equals magnitude of 1000+.

Downgrading from `2.19.0` to `2.18.1` resolved the issue.

Here's a similar thread from Realm: https://github.com/realm/realm-cocoa/issues/6688

![opentok-errors](https://user-images.githubusercontent.com/5456481/114041045-2d51ae00-9852-11eb-878e-b19fbb

[2021-04-10 15:34] tatuanfpt commented on #101
@danielCarlosCE : Have you find solution yet ?

[2021-04-15 13:30] egarni commented on #130
+1 for adding SPM support! OpenTok is the only dependency I have not supporting SPM =^(

[2021-04-19 11:27] mehulTank opened #149 "Getting Delay in video Call (Android & iOs) & Audio not coming in iOS Audio call not working"
I am implementing video & audio calls in mobile applications Android as well as ios.
I am getting delay while video calling around 12 to 15 seconds getting black screen if pick up a call. In ios, the Audio call not working not getting any voice. Even if the application goes in background and comes back in the foreground continue getting black screen nothing is working properly spending much time o

[2021-04-20 01:35] lucas-tl commented on #146
@jvalli @mheap @abdulajet can you perhaps take a look at this crash? It's critical and it has been an issue for over a month. We have impact in production for a massive number of users.

[2021-04-20 09:41] abdulajet commented on #146
version 2.19.1 is out now, which should fix this crash. can you give it a go @lucas-tl ?

[2021-04-21 07:43] DusanStjepanovic commented on #146
@abdulajet  We are still getting this crash on 2.19.1 for 5% of users, so it really is critical, had to revert to 2.18.1. We did not manage to reproduce it but here is crash report
<img width="606" alt="Screenshot 2021-04-21 at 09 38 39" src="https://user-images.githubusercontent.com/57255694/115515853-d0a8b700-a285-11eb-9d95-1c90583a5618.png">

[2021-04-22 13:47] DogeWowzie commented on #130
@egarni same here, Opentok is the only dependency blocking me from removing CocoaPods completely. Are there any plans to add SPM support?

[2021-04-22 13:52] Bastianowicz commented on #130
@DogeWowzie same here. This is a serious problem to us and we have to evaluate other providers in case this cannot be resolved. What are your plans regarding this issue?

[2021-04-23 13:38] lucas-tl commented on #146
@abdulajet Adding some context just in case it helps. In our case, the crash occurs when another user in the video call stops sharing their screen. There seems to be no problem and screensharing seems to work just fine before that point. So, it's the "stop screen sharing" what seems to be triggering it.

[2021-04-30 00:17] rodrigoelp opened #150 "Missing arm64 architecture building for simulators on m1"
It seems the opentok framework isn't configured to expose the arm64 symbols required to run on a simulator on any of the MacMini M1.

[2021-05-06 09:58] rextremotabaresDtt commented on #148
Any update on this? Still seeing this huge amount of warnings...

[2021-05-06 15:02] ClaireRimel opened #152 "Question: Is it possible to disable Audio ?"
Hello,

I am using the your SDK to stream the video without sound, which means I don't need the microphone access, but because the OpenTok needs the access of the microphone, I need the user's permission even though I don't need/use it.

It's is possible to disable It ?

Best regards,
Claire

[2021-05-26 09:19] brycerker commented on #147
getting this one too. and publisher camera freezes too

[2021-05-27 12:12] abdulajet commented on #146
Can you try 2.20.0

[2021-05-28 00:12] hkellaway commented on #148
this is resolved with version `2.20.0`

[2021-05-28 00:12] #148 closed

[2021-06-07 21:14] karthikeyanTring opened #153 "CustomVideoDriver - On Dismiss the ViewController - ExampleVideoCapture, ExampleVideoRender not released"
Hi I created the Video and Audio Chat application based on the "Basic-Video-Chat" OpenTok sample code **in Swift Language**. I need to swap the front and back camera. I got the sample code in "Custom-Video-Driver" project  **in Swift Language**. But once the viewController is dismissed or the user ends the call, still the ExampleVideoRender, ExampleVideoCapture classes are running. And the importa

[2021-06-09 05:25] karthikeyanTring opened #154 "Audio Call - Turn off Speakerphone during a voice call by default."
Hi Team - I developed the Voice call using OpenTok with the help of sample code provided in the swift sample project. Now I need to know how to turn off Speakerphone during a voice call by default.  Kindly help me out.

[2021-06-10 08:31] DusanStjepanovic commented on #146
We still have this issue with 2.20.0. To be fair it happens less frequently, but still we had 27 crashes this week.

[2021-06-14 17:01] jweg29 commented on #130
@Vonage-Aida @abdulajet is there any timeline for supporting Apple's Swift Package Manager? Similar to what others have said OpenTok is the only dependency in my project that has not added support yet.

[2021-06-15 09:30] abdulajet commented on #130
I can bump the request with engineering. Thanks for the patience

[2021-06-15 09:33] abdulajet commented on #113
You can create a subclass of `OTSession` in objc which will allow you to create an init which bypassed the required ones

[2021-06-15 09:34] abdulajet commented on #146
@DusanStjepanovic can you share a trace or file a support ticket please https://support.tokbox.com/hc/en-us

[2021-06-15 13:41] hkellaway commented on #113
this was asked over 1 year ago 😳

[2021-06-15 13:41] #113 closed

[2021-06-24 09:55] mhdHasanAlgnadi opened #155 "app crash when call session?.disconnect(&error)"
I setup everything and do a video call and everything is fine but when I try to disconnect the session the app crash and send this error
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSDictionaryM longLongValue]: unrecognized selector sent to instance 0x283e4c080'
I use sdk 2.20.0 on flutter app

[2021-06-25 15:26] DRK1004 commented on #130
+1 for adding SPM support! Is there any expected timeline for supporting SPM?

[2021-07-01 12:24] milanpatoliya opened #156 "Timed out while attempting to publish."
I have use Video calling but sometimes I get
"Publisher failed: Error Domain=OTSessionErrorDomain Code=1541 "Timed out while attempting to publish." UserInfo={NSLocalizedDescription=Timed out while attempting to publish.}
 error how can I get a solution for this
also not show detailed error

[2021-07-09 11:45] anis-applocum commented on #156
Are you using any custom audio drivers?

[2021-07-09 12:01] milanpatoliya commented on #156
No I have used call kit now I gat SDK:- 2.20.2
Error :- Error setting up audio session Error Domain=NSOSStatusErrorDomain Code=1701737535 "(null)" I get this error from custome-Audio-Driver

[2021-07-12 08:02] mehmetbaykar opened #157 "DefaultAudioDevice should be updated"
DefaultAudioDevice.swift in Custom-Audio-Driver is no working as expected. I have been using the objc code of OTDefaultAudioDevice.m and it works fine. Can you please make an update on DefaultAudioDevice.swift?

Thanks,

[2021-07-15 09:10] vaibhav9028 opened #158 "App is Crashing :- Crashed: ModuleProcessThread EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x600000001044413b"
webrtc::internal::ReceiveStatisticsProxy::RtcpPacketTypesCounterUpdated(unsigned int, webrtc::RtcpPacketTypeCounter const&) + 4349551344
webrtc::internal::ReceiveStatisticsProxy::RtcpPacketTypesCounterUpdated(unsigned int, webrtc::RtcpPacketTypeCounter const&) + 4349551300
webrtc::RTCPSender::SendCompoundRTCP(webrtc::RTCPSender::FeedbackState const&, std::__1::set<webrtc::RTCPPacketType, std::__1:

[2021-07-15 09:14] vaibhav9028 opened #159 "App Crashing :- Crashed: ModuleProcessThread EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x600000001044413b"
webrtc::internal::ReceiveStatisticsProxy::RtcpPacketTypesCounterUpdated(unsigned int, webrtc::RtcpPacketTypeCounter const&) + 4349551344
webrtc::internal::ReceiveStatisticsProxy::RtcpPacketTypesCounterUpdated(unsigned int, webrtc::RtcpPacketTypeCounter const&) + 4349551300
webrtc::RTCPSender::SendCompoundRTCP(webrtc::RTCPSender::FeedbackState const&, std::__1::set<webrtc::RTCPPacketType, std::__1:

[2021-07-15 10:06] midhunpmohan opened #160 "zoom in/out shared screen video"
How can we enable zoom in/out feature for shared screen video inside collectionview cell

[2021-07-21 06:48] jose-gil opened #161 "OpenTok 2.20 publisher view removed when some subscriber update their state"
We are developing a mobile application with OpenTok 2.20 for iOS platform and we have detected an issue when some subscriber update their audio or video state with publishVideo / publishAudio boolean setters.

The problem appears when we have a publisher view added to scene ("main view"), an some subscriber in other device for example unpublish their video. Then the view of the publisher is remove

[2021-08-03 08:34] mehmetbaykar commented on #156
I have the same error and happens when I use the DefaultAudio Driver from OpenTok.
Any idea what might be the issue?

[2021-08-03 11:52] milanpatoliya commented on #156
you have used a call kit?

[2021-08-04 10:36] mehmetbaykar commented on #156
No

[2021-08-04 10:38] mehmetbaykar commented on #130
+1 for adding SPM support!

[2021-08-05 20:49] mehmetbaykar commented on #70
Hey @tuanit09
Same here :(
Have you found any solution?

@robjperez It would be great if you guys can give us an update on this. The BroadCast-Ext Project is not working no matter how I change the way of consuming. Always passes the 50 Mb memory limit.

[2021-08-18 15:54] samitaha2 commented on #130
+1 for adding SPM support

[2021-08-30 18:08] vidueirof commented on #130
+1 SPM support

[2021-09-03 12:47] yashukla47 commented on #70
hey @mehmetbaykar did you find any solution, for BroadCast-EXT

[2021-09-03 13:54] mehmetbaykar commented on #70
Hi @yashukla47,

You can check out this [repo](https://github.com/opentok/opentok-ios-sdk-samples/tree/main/Broadcast-Ext/OpenTok%20Live) and make this changes:

- Change Constants
#define kVideoFrameScaleFactor 0.3 //this is the max you can have on iPhonw 11, if you higher its exceeds the memory limit
#define kVideoFrameProcessEvery2ndFrame //More or less 15/second

-Change SDK Version to 2.18.1

[2021-09-03 16:26] yashukla47 commented on #70
Thanks, Brother @mehmetbaykar, Will try these changes, I hope it works this time

[2021-09-06 09:07] yashukla47 commented on #70
hey, @mehmetbaykar I am still facing the problem, It looks like I am able to send the data of the screen share from the publisher side but it's not able to receive it on the other end.

Any Idea

[2021-09-07 12:50] mehmetbaykar commented on #70
How do you subscribe to the Screen Video and add it into your view hierarchy?

[2021-09-07 13:19] yashukla47 commented on #70
Hey, now it's working fine .... changing the SDK to the version that you suggested i.e 2.18.1 ... worked for me

Thanks

[2021-09-17 08:46] mehmetbaykar opened #165 "How To Mute Subscriber Audio using Custom Audio Driver (Swift)"
When doing a pretest call using [Obj-c audio driver](https://github.com/opentok/opentok-ios-sdk-samples/tree/main/Custom-Audio-Driver), I can mute the subscriber audio with
`- (void)setAudioPlayoutMute:(BOOL)mute;`
But when it comes to the Swift version of the custom audio driver there is no function that can mute the subscriber audio.

I can not set `subscriber.subscribeToAudio = false` since I a

[2021-09-29 11:25] enasaz9 commented on #65
hello @Kareem1991, I am having the same problem.
Were you able to fix it?

[2021-10-01 11:02] rextremotabaresDtt commented on #130
Any update on this?

[2021-10-04 12:45] enasaz9 commented on #154
@karthikeyanTring did you find any solution for this?

[2021-10-04 12:45] enasaz9 commented on #127
@aayubhagat did you find any solution for this?

[2021-10-13 09:48] 1755143168 opened #166 "How to receive signals in a session"
I will not receive signals in the session

[2021-10-13 09:49] 1755143168 commented on #166
<img width="836" alt="截屏2021-10-13 下午5 49 30" src="https://user-images.githubusercontent.com/73882342/137110208-1e4354dd-4e54-4a95-8bba-7f0e0152cb26.png"
<img width="1006" alt="截屏2021-10-13 下午5 49 47" src="https://user-images.githubusercontent.com/73882342/137110269-11c89860-953f-4520-8ae1-dd90738fe9af.png">

[2021-10-22 02:45] rodrigoelp commented on #150
Given the absolute silence on this, I imagine it is definitely not a priority for you even though we are going to have a lot of people upgrading their macbook pro's to some of those snappy m1pro and m1max, huh?

[2021-11-04 08:25] ViktorGolubenkov commented on #165
+ same problem

[2021-11-18 21:00] tanle-accolade opened #167 "Lost connection with microphone when user interrupt by a phone call."
During the video, when user have incoming call: user reject or accept the call then hang up -> user lost microphone and lost audio stream from session (video stream still going on). After this issue happen, user close screen (assume OTSession & OTPublisher released) but video stream still continue, profile with instrument and still saw webrtc still running and block UIThread.
Tested on
SDK version

[2021-11-26 15:30] ledinhthi commented on #70
HI anyone have this isssue? i start to sharing screen. But have this error:: Broadcast is stop, because you attempt to start an invalid broadcast session. :(( anyone experienced,

[2021-12-01 21:14] mvarie commented on #130
+1 for adding SPM support

[2021-12-20 13:01] TheMakerOleguch opened #168 "Opentok initialization crash on iOS 15"
Hi, there is broken behavior upon initializing opentok, using the latest react-native 0.66 and pod version 2.20.2.
We receive a crash when opentok tries to initialize itself.
![image](https://user-images.githubusercontent.com/16706446/146770734-d8dec693-ac6d-4481-b56c-93761f4b2ebe.png)

[2021-12-23 12:15] ledinhthi commented on #70
@yashukla47

[2021-12-23 12:17] ledinhthi commented on #70
@mehmetbaykar i'm facing invalid broadcast even set constants to 0,3 and 2 for processSecondFrame. so i think this is overg 50mb so have you processed it? with the sample buffer ?

[2021-12-28 00:05] knightcode commented on #70
@mehmetbaykar I'm having the same issue. I'm able to send a couple of frames to other clients on the session before the 50mb limit causes the extension to exit, and the phone shows the invalid broadcast session message. I'm sending 6 frames per second and have scaled them down to 111x240 pixels (in portrait).

I'm not sure what the pixel buffer pool is for. It looks like only one buffer is ever us

[2021-12-28 14:20] knightcode opened #169 "Memory Leak in raptor_v2 json methods"
Instruments is reporting small memory leaks in json_pack and json_object_set_new_nocheck, e.g. (and not the only stack trace):

![Screen Shot 2021-12-28 at 9 10 20 AM](https://user-images.githubusercontent.com/1806693/147574717-9d7fdead-9463-4f46-b234-852560a4b162.png)

These don't seem to consume more than 10s and 100s of bytes at a time. But, with a 50MB limit for the broadcast extension, we all

[2021-12-28 22:21] knightcode commented on #70
Pared down the dependencies for the broadcast extension to ReplayKit, OpenTok, and OSLog with the processSampleBuffer below. Instruments still clocks the process steady state at around 330MB (305MB if I remove OSLog). Can anyone do better?

[code]

[2021-12-30 18:08] Lontronix commented on #130
Would love to see SPM support added as well.

[2022-01-03 16:56] JulianDMartinez opened #170 "FrameMetadata isn't working"
The FrameCaptureMetadataDelegate methods are not called and the timestamp label is linked directly to the publisher's video capture, so it doesn't represent the received metadata from the stream by the subscribed. Also it seems that metadata is not transferred when `consumeImageBuffer` is used (since it is received as nil by the subscriber) but it does work with `consumeFrame`

The sample overall

[2022-01-12 12:16] britolucaspatrick commented on #168
happens here too

[2022-01-12 12:20] britolucaspatrick opened #171 "Opentok initialization crash on iOS 15"
![image](https://user-images.githubusercontent.com/35351864/149139178-77da9e6d-23bc-4d1d-8cf0-346781606d78.png)

i am teladoc developer, and this is my error

[2022-01-12 23:22] jffmrk commented on #130
+1 🤞

[2022-01-15 21:14] mvarie commented on #150
@rodrigoelp this is becoming a problem especially with SwiftUI (Previews don't work, as they're Simulator based).

[2022-01-16 02:51] rodrigoelp commented on #150
Yes @mvarie, we are also painfully aware of this. That's one of the reasons I created this issue.

Though my organisation, we reached Vonage to push engineering to pay attention to it, if you have a chance, I would recommend you to do the same.

[2022-01-25 13:28] adil-nangyal commented on #155
did you get any solution for that I am also stuck on this issue?

[2022-02-04 16:22] fabiocody commented on #155
Same problem here, it happens also on 2.21.2 and 2.21.3

[2022-02-09 14:42] ben-palmer commented on #130
Yes please!

[2022-02-22 18:03] mehmetbaykar opened #172 "Crash when Accessing Streams property of OTSession"
I receive a crash when I try to access the streams property of OTSession. The moment I try to read this value **NSDictionary<NSString*, OTStream*>* _Nonnull streams** the app crashes.

Crash Log:
`Could not cast value of type 'OTStream' (0x10e60ba28) to 'OTStream' (0x115468e88).
dyld4 config: DYLD_LIBRARY_PATH=/usr/lib/system/introspection DYLD_INSERT_LIBRARIES=/Developer/usr/lib/libBacktraceRecor

[2022-03-06 05:27] falkobuttler commented on #130
+1 here. Unfortunately, the latest versions of OpenTok or OTXCFramework do not seem to work with Xcode on M1 Macs, while SPM packages of incompatible CocoaPods packages worked fine.

[2022-03-17 20:24] ben-palmer commented on #130
@Vonage-Aida - is there any timeline for spm support?

[2022-03-25 09:37] egarni commented on #150
Same problem here, hope this will get prioritised.

[2022-04-25 12:14] shweta48 commented on #156
i am using callkit and face this problem after voip

[2022-05-12 20:44] murillotomas commented on #130
Come on OpenTok. I has been 1.5 years already since this was requested and no sight on the horizon for SPM yet.
On top of that you guys make money with this. You should be taking a little bit more care of your customers.

[2022-05-16 09:24] maxxfrazer commented on #130
Seems swiftpm isn't happening for opentok (yet).
It does work with Agora.io though for almost a year now (I work there, full disclosure), maybe the opentok team would find the motivation if others are doing it already 😉

- [Core SDK](https://github.com/AgoraIO/AgoraRtcEngine_iOS)
- [Video UIKit](https://github.com/AgoraIO-Community/iOS-UIKit)

Also works fully with M1 Macs - why do some businesses

[2022-05-16 12:11] samitaha2 commented on #130
Agora probably has less bugs too

[2022-05-20 15:19] ben-palmer commented on #130
@Vonage-Aida any roadmap updates on SPM support?

[2022-05-23 23:39] mehmetbaykar commented on #70
I found a better way to compress the pixelBuffer using Accelerate framework. It uses CPU not GPU. On iPhone, you should resize at least 0.5, and on the iPad at least 0.4. Here you have an extension that you can use inside of `processSampleBuffer` function.

[Resize CVPixelBuffer](https://gist.github.com/mehmetbaykar/779ff89b9dfa524c1cfb94d5d7dcda7c)

[2022-06-09 15:46] tumata commented on #130
+1 for adding SPM support

[2022-06-24 14:50] TheNasirKhan opened #173 "Mirroring issue is not getting resolve by using Custom-Video-Driver project implementation"
I have tried to resolve opentok's mirroring issue from front camera, and for that, I have implemented Custom-Video-Driver project implementation in our own project. But the mirroring issue is still there. is there any way to unmirror the video on other side?

[2022-06-27 07:45] #173 closed

[2022-07-08 18:02] falkobuttler commented on #150
This was promised to be delivered with 2.23 of the SDK that dropped yesterday. However, after further inspection the SDK is still a regular framework and not a universal framework with arm64 support for M1 simulators. Shame on you, Tokbox!

[2022-07-25 13:30] MattKiazyk commented on #130
Looks like this didn't happen! 😢

[2022-07-26 00:37] tumata commented on #130
The `XCFramework` looks available but is lacking some architectures (if I remember well, the M1 Simulator).

See: https://github.com/opentok/opentok-ios-sdk-samples/blob/main/Basic-Video-Chat-XCFramework/Podfile

[2022-08-22 14:34] dimimall opened #174 "Remain green dot"
Hello I am iOS developer and I firstly used OpenTok dependency framework and now I am using OTXCframework dependency but I have a faced an issue. When stream destroyed - finished green dot did not disappear. What can I do ? Because video works in background. With objective c I solve this. I create custom static framework with dependencies.

Best Regards

[2022-08-25 12:33] vona-ben opened #175 "Sync Custom-audio-driver with Objective C repo"
There are a few commits missing which include fixes when using Bluetooth for custom audio driver

- [OPENTOK-46715: iOS Custom Audio Driver sync with SDK implementation ](https://github.com/opentok/opentok-ios-sdk-samples/commit/ded43e5d9080abd2c5c2ea7bdf266f7440c5dbf5)
- [Audio debug logs - more statements added ](https://github.com/opentok/opentok-ios-sdk-samples/commit/0d20648a48a54942f8f0bc0cb

[2022-08-25 13:26] vona-ben commented on #175
cc @chetanvangadiTokbox

[2022-08-30 07:51] egarni commented on #150
We have the same problem, it's been a year and a half... How can this have not been fixed already?

[2022-09-01 09:25] danhilton1 commented on #145
I am also seeing this repeated message in the console.

[2022-09-15 15:37] samitaha2 commented on #130
So is this happening?

[2022-09-15 22:37] MattKiazyk commented on #130
⏳

Can I say please?

[2022-09-17 19:20] DogeWowzie commented on #130
Can confirm own Swift Package from `OpenTok.xcframework` works both on Apple Silicon and Intel Macs (tested running on Simulator and Real Devices)

Within `Basic-Video-Chat-XCFramework` I just ran `pod install` and created an own swift package with the `OpenTok.xcframework` output located in `Pods/OTXCFramework`.

I placed it in the main directory of my swift package and added following manifest:

[2022-09-18 12:13] maxxfrazer commented on #130
@DogeWowzie with the M1 simulator? That's the piece that wasn't working.

The xcframework from the pod location (https://s3.amazonaws.com/artifact.tokbox.com/rel/otkit-ios-sdk-xcframework/OpenTok-iOS-2.23.1.tar.bz2) doesn't have the right architectures

[2022-09-18 13:26] DogeWowzie commented on #130
Can confirm it worked like a charm on Apple Silicon and Intel machines, performed test runs on both simulator and real device. Please not i ran `pod install` on a M1 machine.

<img width="676" alt="Bildschirmfoto 2022-09-18 um 15 20 38" src="https://user-images.githubusercontent.com/8918704/190904425-6669f84e-19ac-435f-9e5e-e1c8f2c0209c.png">

[2022-09-18 17:07] DogeWowzie commented on #130
Thanks for pointing out my mistake. Unfortunately I forgot to uncheck "open with Rosetta" yesterday.

When run on a M1 simulator, I receive following errors:
<img width="296" alt="Bildschirmfoto 2022-09-18 um 18 07 37" src="https://user-images.githubusercontent.com/8918704/190919464-49d3c723-f79d-422a-aeb7-35b644baa27e.png">

`file is universal (i386.x86 64) but does not contain the arm64 architec

[2022-09-18 17:49] DogeWowzie commented on #130
Simulators run on a M1 with iOS 13.7 or below work though (they don't have an arm64 executable)

[2022-09-21 22:56] murillotomas commented on #130
I got my reply here:
https://github.com/opentok/opentok-ios-sdk-samples/issues/258#issuecomment-1254274639

Apparently they are not supporting SPM...

[2022-09-26 07:16] TheNasirKhan commented on #78
I have implemented the above extension in my project but it doesn't send any frame to the other side, even i have tried it directly from this project. it doesn't appear other side of a call even though a session is being created, frames are available it doesn't even add a subscriber to the other side.

[2022-10-05 21:22] dweberlj commented on #155
Hello @mhdHasanAlgnadi @fabiocody did you find a resolution to this issue?  Thanks.

[2022-10-05 21:41] fabiocody commented on #155
I honestly didn't even remember about this error, all I can say is that everything is working fine with latest OpenTok and Flutter versions. Are you still having this issue?

[2022-10-05 22:14] fabiocody commented on #155
I'm using Flutter 3.3.3 and OpenTok 2.23.1. My code is based on this example [https://github.com/opentok/opentok-flutter-basic-video-chat](https://github.com/opentok/opentok-flutter-basic-video-chat)

[2022-10-05 23:02] dweberlj commented on #155
Correction, that is the code base that I'm using too.

Did you have to modify the main.dart code for Flutter v3?  I had to change add Platform.Android check and use  `PlatformViewSurface` for iOS.

https://github.com/opentok/opentok-flutter-basic-video-chat/blob/a055399aaa15055e5eca6126ce44b81e40c8dfec/lib/main.dart#L166-L171

[code]

[2022-10-10 16:47] jordanhbuiltbyhq opened #179 "App cannot be run on Simulator due to lack of Apple silicon support"
On a Mac with Apple silicon, you cannot build and run an app that has OpenTok integrated on the Simulator because OpenTok does not support Apple silicon with the current version 2.23.1.

[code]

It'll install on the Simulator but will not open and Xcode presents this error alert:
[code]

[2022-10-11 15:28] jordanhbuiltbyhq commented on #179
It seems this may be an issue on my end, rather than an issue with OpenTok, will close

[2022-10-11 15:28] #179 closed

[2022-10-21 09:14] ravkooashishraval commented on #172
Same issue with me...

[2022-10-21 09:40] ravkooashishraval opened #181 "application Crashed"
`self.networkTest?.runConnectivityTest(withApiKey: tokBoxApiKey, sessionId: sessionId, token: token, executeQualityTest: true, qualityTestDuration: 10, delegate: self) `

Xcode 14
pod 'OpenTok', '2.23.0'
<img width="1509" alt="Screenshot 2022-10-21 at 3 08 52 PM" src="https://user-images.githubusercontent.com/111400313/197165578-9f77f8ad-c62a-4494-b339-366bfed0ea08.png">

[2022-10-27 14:55] ClaireRimel opened #182 "Warning: -[AVCaptureSession startRunning] should be called from background thread"
Xcode `14.0`
OpenTok via CocoaPods,  pod version `2.23.1`

I implemented the publisher as showed on the Basic-Video-Chat project but on the instantiation of the Publisher, It's appears a warning `-[AVCaptureSession startRunning] should be called from background thread. Calling it on the main thread can lead to UI unresponsiveness.`

I have tried to set it on background thread, but it doesn't work,

[2022-10-28 20:50] knightcode commented on #182
Also having this issue. Calling the constructor in a background thread also complains because the View's initWithFrame: needs to be called on the main thread. So damned either way.

[2022-11-01 14:31] knightcode opened #183 "iOS 16 "Timed out while attempting to publish.""
Prior to iOS 16, we were able to initiate and publish to a session in response to a PushKit notification, which elevated the app's priority and allowed a session to form while the app remained in the background, maybe with the system's Call UI visible to the user via CallKit (if audio-only).

With iOS 16, the OTPublisher seems to be having trouble. The OTSession can be created, incoming streams ar

[2022-11-02 21:47] v-kpheng commented on #182
@ClaireRimel, thanks for letting us know about this issue.  This was fixed in 2.24.0, which was released recently.  See release notes here: https://tokbox.com/developer/sdks/ios/release-notes.html.

<img width="957" alt="image" src="https://user-images.githubusercontent.com/49660118/199608532-abaa6512-8bf2-42bd-9d76-5c422cf4acaf.png">

Since this was fixed, I'm going to close this issue.  If you'r

[2022-11-02 21:47] #182 closed

[2022-11-02 21:50] v-kpheng commented on #181
Hi, @ravkooashishraval.  Thanks for letting us know about this issue.  Some key details are missing though, which may make root cause difficult.  Can you please refile this issue and answer the questions asked in our `Bug Report` template?  By doing so, it'll help make root cause easier.  Thanks!

[2022-11-02 21:50] #181 closed

[2022-11-02 21:52] v-kpheng commented on #175
@vona-ben, thanks for letting us know about this.  No idea if any work is still pending.  If there is, can you please file a jira ticket and CC me on it?  Thanks!

[2022-11-02 21:52] #175 closed

[2022-11-02 21:55] v-kpheng commented on #174
Hi, @dimimall, thanks for letting us know about this issue.

By "green dot", are you referring to the fact that the camera LED remains on, despite `publishVideo` being `false`?  If so, we have pending work in this area.  That said, there's no ETA.

Please advise.  Thanks!

[2022-11-02 21:57] v-kpheng commented on #172
Thanks for letting us know about this issue.  Is this reproducible on the latest version of the SDK?  Also, do you have a snippet of the code that'll reproduce the issue.

Please advise.  Thanks!

[2022-11-02 22:31] v-kpheng commented on #171
Hi, @britolucaspatrick.  Thanks for letting us know about this issue.  That said, some key details, like steps to reproduce are missing, which may make root cause difficult.

I'm going to close this issue.  If this is still reproducible using the latest version of the SDK, can you please refile and answer the questions in the bug report template?  Thanks!

[2022-11-02 22:31] #171 closed

[2022-11-02 23:42] IGitGotIt commented on #183
Just so we narrow down the issue more, can you initialize the background publisher with audioTrack = false and check if you get the same error. If it works it can be an audio driver acquisition issue (maybe some other app else is playing audio or CallKit itself is playing a ringtone etc..).
Thanks

[2022-11-03 16:51] ClaireRimel commented on #182
Thank you @v-kpheng for your answer.

With this 2.4.0 version I observe a latency of 10sec between the call of doPublish() and the call of session.publish(publisher, error: &error) which make the view freezing during the 10sec.
![2 4 0Version](https://user-images.githubusercontent.com/43319552/199782469-fedf843f-9091-40de-8b2a-81fd3319d490.png)

On 2.3.1 version this latency was around 1-2 seconds

[2022-11-03 19:47] knightcode commented on #183
Actually, I'm not able to publish audio at all... even when the app is active. The session connects; all parties can publish and receive video, but no audio is received from iOS devices. With the `DefaultAudioDevice` from the custom audio driver sample, we sometimes get a few moments of audio before it cuts out. Without setting a custom audio device, ...nothing.

Also, the OTPublisher.init() is no

[2022-11-04 04:47] IGitGotIt commented on #183
I recommended turning off audioTrack so we can narrow the issue and diagnose the problem. It was not a solution and yes, audio will not work , if there is no audioTrack. With the publisher now publishing,  we now know it does not succeed with audio driver acquisition originally,  and  timeouts.

My guess, w/o looking at your code , is that you need to activate the audio rendering and capturing whe

[2022-11-04 12:19] cemkazim opened #185 "Subscriber Video Enabling Problem"
When we activate the video after starting the conversation by enabling only the audio stream without enabling the video, the subscriberView doesn't appear on the iOS app. But when we go background and foreground just once, the video has appeared on the view.

If subscriber video opens, we want to see it in view.

iOS SDK version: 2.24.0
OS and version: 16.0

[2022-11-04 21:23] knightcode commented on #183
Oh, to clarify, the audio would cease with audioTrack=true. CallKit seemed to be doing something. A route change coincides with the didActivate call.

[2022-11-07 23:22] knightcode commented on #183
Both our use cases are currently broken. These are the steps we perform for each

### PushKit Initiated
1. Receive Notification
2. Call `OTAudioDeviceManager.setAudioDevice(audioController!)` setting to an instance of `DefaultAudioDevice` from this repo
3. Call CXProvider.reportNewIncomingCall()
4. User Accepts Call, reported by `CXProviderDelegate.provider(_, perform: CXAnswerCallAction)`
5. Call

[2022-11-08 00:06] knightcode commented on #183
Seeing this error now:
[code]

By removing any use of the DefaultAudioDevice and the CXCallController, I was able to make the User Initiated flow above work on a second device, but not my primary phone. Reintroducing the DefaultAudioDevice still allowed the second device to work, but the primary device still timed out publishing. Adding back the calls for CXCallController, the secondary device wou

[2022-11-08 11:03] ClaireRimel opened #186 "Latency of 10sec between the call of doPublish() and the call of session.publish()"
Xcode `14.0`
OpenTok via CocoaPods, pod version `2.24.0`
iOS SDK version `16.1`

With this 2.24.0 version I observe a latency of 10sec between the call of doPublish() and the call of session.publish(publisher, error: &error) which make the view freezing during the 10sec.
![2 4 0Version](https://user-images.githubusercontent.com/43319552/200547986-93fc20e8-1691-47fa-be29-4ee3cc081a23.png)

On 2.23.

[2022-11-08 15:11] knightcode commented on #183
Error in DefaultAudioDevice.setupAudioSession() during PushKit flow:
[code]

It fails at the `try session.setActive(true)` call.

[2022-11-09 15:14] knightcode commented on #183
Found a  possible solution/work-around the User Initiated Flow. The `startCapture()` method of `DefaultAudioDevice` is called automatically by the OpenTok SDK. I'm not sure where. The backtrace just had it on the WebRTCThread, so that I'm not sure what queued it. In any case, by making this a no-op, I was able to call it manually in the `CXProviderDelegate.provider(_:didActivate:AVAudioSession)` c

[2022-11-09 22:17] v-kpheng commented on #182
@ClaireRimel, can you please file another issue?  Reason being, it seems unrelated to the issue we just closed.  Thanks!

[2022-11-09 22:44] v-kpheng commented on #186
Thanks, @ClaireRimel, for filing this issue.

We're tracking this internally: https://jira.vonage.com/browse/OPENTOK-49706.

[2022-11-09 22:50] v-kpheng commented on #172
Closing, given lack of information. If this problem still persists, please refile. Thanks!

[2022-11-09 22:50] #172 closed

[2022-11-09 22:55] v-kpheng commented on #169
Thanks, @knightcode, for letting us know about this issue.  Quite a few memory leak issues were fixed since this was filed.  If you're still seeing memory leak issues, please re-file.  Thanks!

[2022-11-09 22:55] #169 closed

[2022-11-09 22:57] v-kpheng commented on #168
Thanks for letting us know about this.  Version 2.20 is no longer supported.  Also, more recent versions of React native have been released, which may have resolved the issue you're seeing.

If you're still able to reproduce the issue using more recent versions of the SDK, please refile.  Thanks!

[2022-11-09 22:57] #168 closed

[2022-11-09 23:22] knightcode commented on #183
Found some better behavior with the PushKit flow by moving the `action.fulfill()` earlier in the flow when the `sessionDidConnect()` callback. Fulfilling the action lets CallKit proceed to calling `CXProviderDelegate.provider(_:didActivate:AVAudioSession)`, and that's when the audio can be set up, session.publish(), and any outstanding streams can be subscribed to.

With this, the printed errors a

[2022-11-10 00:12] #131 closed

[2022-11-10 00:12] #141 closed

[2022-11-10 00:12] #145 closed

[2022-11-10 00:12] #146 closed

[2022-11-10 00:12] #42 closed

[2022-11-10 00:12] #60 closed

[2022-11-10 00:12] #63 closed

[2022-11-10 00:13] #75 closed

[2022-11-10 00:13] #76 closed

[2022-11-10 00:13] #77 closed

[2022-11-10 00:13] #80 closed

[2022-11-10 00:13] #82 closed

[2022-11-10 00:13] #83 closed

[2022-11-10 00:13] #93 closed

[2022-11-10 00:13] #95 closed

[2022-11-10 00:13] #97 closed

[2022-11-10 00:13] #98 closed

[2022-11-10 00:13] #99 closed

[2022-11-10 00:13] #102 closed

[2022-11-10 00:13] #105 closed

[2022-11-10 00:13] #110 closed

[2022-11-10 00:13] #111 closed

[2022-11-10 00:13] #114 closed

[2022-11-10 00:13] #117 closed

[2022-11-10 00:13] #118 closed

[2022-11-10 00:13] #119 closed

[2022-11-10 00:13] #120 closed

[2022-11-10 00:13] #121 closed

[2022-11-10 00:13] #122 closed

[2022-11-10 00:14] #69 closed

[2022-11-10 00:18] #129 closed

[2022-11-10 00:18] #167 closed

[2022-11-10 00:23] v-kpheng commented on #166
Thanks, @1755143168, for filing this issue.  We'll add a sample application that'll showcase how to use this API: https://jira.vonage.com/browse/OPENTOK-49708.

That said, there's no ETA for this.  Sorry.

[2022-11-10 00:24] #149 closed

[2022-11-10 00:24] #153 closed

[2022-11-10 00:24] #154 closed

[2022-11-10 00:24] #155 closed

[2022-11-10 00:24] #156 closed

[2022-11-10 00:24] #158 closed

[2022-11-10 00:24] #159 closed

[2022-11-10 00:24] #161 closed

[2022-11-10 00:28] v-kpheng commented on #150
Thank for you everyone's patience.  This is on our roadmap.  That said, we can't provide an ETA.  Sorry.

https://jira.vonage.com/browse/OPENTOK-49709

[2022-11-10 13:38] dimimall commented on #174
I call my method endSession
` public func endSession() {

        disableCamera()
        disableMicrophone()
        guard let subscriber = subscriber else { return }
        otSession.unsubscribe(subscriber, error: nil)
        otSession.unpublish(publisher, error: nil)
        cleanupPublisher()
        cleanupSubscriber()

        dismiss(animated: true, completion: nil)
    }`
But 'green dot'

[2022-11-10 22:42] knightcode commented on #183
Working Flows for anyone who might come across this in the future.

One change to DefaultAudioDevice: remove `AVAudioSession.sharedInstance().setActive(true)` from `setupAudioSession()`. This is handled by CallKit. I reverted the change discussed above that moved the `startCapture()` functionality to a different function. By holding all publish and subscribe calls, we can, in turn, hold off on the

[2022-11-17 18:49] v-kpheng commented on #115
@tandinhle, yes, this is being planned: https://jira.vonage.com/browse/OPENTOK-49850.

That said, there's no ETA.

[2022-11-17 18:58] v-kpheng commented on #170
Closing given lack of feedback.  If issue still persists, please refile.  Thanks!

[2022-11-17 18:58] #170 closed

[2022-11-17 20:06] v-kpheng commented on #125
@aviya-smila, apologies for the belated reply.

https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/main/Screen-Sharing should help.  Any other issues, please let us know.  Thanks!

[2022-11-17 20:06] #125 closed

[2022-11-17 20:10] v-kpheng commented on #157
@mehmetbaykar, apologies for the belated reply.  We tested this recently and it seems to be working.

Closing, since we can't reproduce.

[2022-11-17 20:10] #157 closed

[2022-11-17 22:51] v-kpheng commented on #183
Any ideas, @IGitGotIt?

[2022-11-17 23:00] #124 closed

[2022-11-17 23:00] #127 closed

[2022-11-17 23:18] v-kpheng commented on #124
This may help: https://stackoverflow.com/questions/50132396/callkit-issue-with-speaker-automatically-turned-on-after-receiving-the-call/50460757#50460757

Also, it's not clear if you're working with a custom audio driver.  If issue persists, please refile.  Thanks!

[2022-11-17 23:24] v-kpheng commented on #147
Apologies for the belated reply.  Cameras can't be used when in background mode: https://tokbox.com/developer/sdks/ios/background-state.html.

To clarify, is the issue that publisher remains black after entering the foreground?

[2022-11-27 20:09] jonathan-k4 opened #187 "Threading Issues"
**Describe the bug**
Errors appear in the Xcode console about creating publisher from main thread. However, if I move it to a background thread as advised, its internal access to UIView throws an error because it's not on the main thread. Seems like the SDK is doing both UIView operations and AVCaptureSession startRunning inside one SDK call.

Purple triangles also appear in Xcode to warn of the i

[2022-11-29 22:27] v-kpheng commented on #187
Thanks, @jonathan-k4, for letting us know about this issue.  We're tracking this internally: https://jira.vonage.com/browse/OPENTOK-49706.